
<div class="panel panel-default">
  <div class="panel-heading">Instructions</div>
  <div class="panel-body">
    Click the tasks that you want to include in your chore chart and then click <button type="button" class="btn btn-default">Create Clean Kids Chart</button> to create the chart.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Tasks</div>
  <div class="panel-body">
    <%= form_for @chart do |f| %>
      <span class = "mroutine">
        Morning Routine
      </span> |
      <span class = "eroutine">
        Evening Routine
      </span> |
      <span class = "chore">
        Household Chores
      </span>
      <br>
      <% for task in Task.all %>
        <% if task.is_morning_routine %>
          <% color = "mroutine" %>
        <% elsif task.is_evening_routine %>
          <% color = "eroutine" %>
        <% else %>
          <% color = "chore" %>
        <% end %>
        <div class = <%= color %>>
          <div class="col-md-4">
            <%= check_box_tag "chart[task_ids][]", task.id, @chart.tasks.include?(task) %>
            <%= task.description %>
          </div>
        </div>
      <% end %>
      <br><br>
      <div class="col-md-12">
        <div class = "col-md-4">
          <%= f.label :name, "Chart Name" %>
          <%= f.text_field :name %>
        </div>
        <div class = "col-md-4">
          <%= f.submit 'Create Clean Kids Chart' %>
        </div>
        <div class="col-md-8">

        </div>
      </div>
    <% end %>
  </div>
</div>

<script charset="utf-8">
$(function () {
$('[data-toggle="popover"]').popover()
})
</script>

<div class="col-md-6 col-md-offset-3">
  <h2 class = "page-header">Add a Task</h2>
<%= form_for @task do |f| %>
  <%= f.label :description, class:"control-label" %>
  <%= f.text_field :description, class:"form-control" %>

  <%= f.label :task_type, class:"control-label"%>

    <div data-container="body" data-toggle="popover" data-placement="right" data-content="This is my popover information", data-trigger="hover">
    <%= f.collection_select(:task_type, Task::TASK_TYPE, :to_s, :capitalize,{}, {class: 'form-control'}) %>
</div>

  <br>

  <%= f.submit class: "control-label" %>
<% end %>
</div>
