
<div class="panel panel-default">
  <div class="panel-heading">Instructions</div>
  <div class="panel-body">
    Step 1 (optional): Create new tasks by entering a description for each one below. <br>
    Step 2: Select the tasks for your chart by checking the boxes in the next panel and then click the <em>Create Clean Kids Chart</em> button.
    <br>
    <br>
      <div class="form-group form-inline">
        <%= form_for @task do |t| %>
          <%= t.label :description, class:"control-label" %>
          <%= t.text_field :description, class:"form-control" %>

          <%= t.label :task_type, class:"control-label"%>
          <%= t.collection_select(:task_type, Task::TASK_TYPE, :to_s, :capitalize,{}, {class: 'form-control'}) %>
          <%= t.submit class: "btn btn-primary"%>
        <% end %>
      </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Tasks
  </div>
  <div class="panel-body">
    <%= form_for @chart do |f| %>
      <span class = "mroutine">
        Morning Routine
      </span> |
      <span class = "eroutine">
        Evening Routine
      </span> |
      <span class = "chore">
        Household Chores
      </span>
      <br>
      <% for task in Task.all.order(:task_type) %>
        <% if task.is_morning_routine %>
          <% color = "mroutine" %>
        <% elsif task.is_evening_routine %>
          <% color = "eroutine" %>
        <% else %>
          <% color = "chore" %>
        <% end %>
        <div class = <%= color %>>
          <div class="col-md-4">
            <%= check_box_tag "chart[task_ids][]", task.id, @chart.tasks.include?(task) %>
            <%= task.description %>
          </div>
        </div>
      <% end %>
      <div class="form-inline col-md-12">
        <br>
        <%= f.label :name, "Chart Name", class: "control-label" %>
        <%= f.text_field :name , class: "form-control"%>

        <%= f.submit 'Create Clean Kids Chart', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<script charset="utf-8">
$(function () {
$('[data-toggle="popover"]').popover()
})
</script>
