
<div class="container">
  <div class="vertical-center-row">

    <div class="panel panel-primary col-md-6 col-md-offset-3">
      <div class="panel-heading">
        <h3 class="panel-title">Sign In to Customize Your Chart</h3>
      </div>
      <div class="panel-body">
        <%= form_tag(url: signin_path) do  %>
          <%= label_tag :email, nil, class: "control-label" %>
          <%= text_field_tag :email, nil, class: "form-control" %>
<br>
          <%= label_tag :password, nil, class: "control-label" %>
          <%= password_field_tag :password, nil, class: "form-control" %>
          <br>

          <%= submit_tag "Sign In", class: "control-label" %>
        <% end %>
        <br>
        <%= link_to "Don't have an account? Sign Up!", signup_path %>
      </div>
    </div>

  </div>
</div>
