<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Clean Kids</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>



  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <b><%= link_to "CLEAN KIDS", root_path, class: "navbar-brand logo" %></b>

          <ul class="nav navbar-nav">
            <li> <%= link_to "See All Tasks",tasks_path %></li>
            <li> <%= link_to "Add a Task", new_task_path %></li>
            <li> <%= link_to "Create a Routine", new_routine_path %></li>
            <li> <%= link_to "Print Your Clean Kids Chart", routines_path %></li>
            <% if current_user %>
              <button type="button" class="btn btn-default pull-right">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <%= link_to "Sign Out", signout_path %>
              </button>
            <% end %>

          </ul>
        </div>
      </div>
    </nav>
    <div class="container">

      <a class="print-preview pull-right">Print this page</a>
      <% if flash[:notice] %>
        <div class="alert alert-warning col-md-6 col-md-offset-3">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <%= yield %>

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script charset="utf-8">
    $('#foo').prepend('Print this page');
    $('a.print-preview').printPreview();
    </script>
  </body>
</html>
